@import url('common.css');

.container {
    padding-top: 20px;
    position: relative;
    padding-bottom: 100px;
}

h1 {
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 100;
}

.tabs {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 60px;
    background: #ffffff;
    z-index: 100;
}

.tablink {
    flex: 1;
    padding: 10px;
    background: #e9e9e9;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: #555;
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid transparent;
}

.tablink.active, .tablink:hover {
    background: #dcdcdc;
    color: #000;
    border-bottom: 2px solid #007bff;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: 1px solid #ddd;
    overflow-y: auto;
    max-height: calc(100vh - 180px);
}

.tabcontent.active {
    display: block;
}

.transaction-card {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    color: #000; /* Black for better distinction */
}

.card-body .transaction-row, .transaction-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    color: #333;
}

.transaction-row span {
    flex: 1;
    margin-right: 10px;
    /* Assign more flex space to Amount and Memo for better appearance */
    &:nth-child(1) {
        flex: 1.5; /* More space for Amount */
    }
    &:nth-child(2) {
        flex: 2; /* More space for Memo */
    }
}

.transaction-row button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 5px 15px; /* Slightly wider padding for better button size */
    cursor: pointer;
    border-radius: 3px;
}

.transaction-row button:hover {
    background-color: #0056b3;
}

.revenue-row {
    color: green;
}

.outgo-row {
    color: red;
}