@import url('common.css');

/* Page-specific Styles */
.container {
    padding-bottom: 100px; /* Prevent overlap with the bottom menu */
}

/* Tabs Styling */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-label input[type="radio"] {
    display: none;
}

.tablink {
    padding: 10px 20px;
    background: #f0f0f0;
    border-radius: 5px;
    border: 2px solid transparent;
    text-align: center;
    font-weight: bold;
    color: #3c3c3c;
    transition: all 0.3s ease;
    width: 120px;
}

.tablink.active, .toggle-label:hover .tablink {
    background: #127780; /* Updated theme color */
    color: #ffffff;
    border: 2px solid #127780;
}

.primary-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #127780;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-btn:hover {
    background-color: #0f5f5c;
}