On app load, it should have a home page which is also our "Record" page where we will have 2 internal tabs. first one is 'Revenue' which contains a date field, Revenue field where I can add money, Memo text box for adding some comments, category text box, and a dropdown with 3 values: UPI, cash, credit card.
second tab is "OutGo" which contains a date field, OutGo field where I can add money, Memo text box for adding some comments, category text box, and a dropdown with 3 values: UPI, cash, credit card.

The Home page should have 4 tabs at the bottom as Menu for different pages. 
first page is "Record" whatever I explained above.
other tabs are: "Monthly", "Total", "Settings"

Monthly Tab:
This should have 3 internal tabs: 'Revenue', 'All', 'Outgo'
Revenue tab should show all transactions list daywise in a table format whatever added from "Revenue tab of "Record" page.
OutGo tab should show all transactions list daywise in a table format whatever added from "OutGo" tab of "Record" page.
All should show all transactions having different colors to identify Revenue (green color) & OutGo (red color).

Total Tab:
Similar to above screen, it should show Monthly totals with same tabs as above & using same data as above



monthly.html is not showing any data. can you check & send me the code for it & js file



I have added screenshots of my App design & functionality with some dummy data. Can you update all files to reflect this UI & send me code again?


what about css?


this is working but below things need to be changed:

1. In Home page, make OutGo as default tab.
2. Total Screen has tabs but data is not shown. I need the calculations to be done & shown.
For eg: Revenue tab should show sum of all revenue transactions in that month, monthwise; 


outgo is not getting defaulted. other changes worked


awesome. That works!!! Now I want to make the drop down configurable. For this, I need you to give me option to add/update/delete the dropdown values of revenue method/outgo method dropdown in the settings page.

Give me code for this & also give me updated code for Record screen.


something is wrong. Settings page looks odd & not working. After adding it's not reflecting in home page. Can you give me full code for app.js including previous code, also make settings page look better & in similar theme as existing screens. Also, use single setting for dropdowns in both tabs : OutGo & Revenue . It should use single setting for adding/updating/deleting values.
By default add UPI, Credi card, Cash values in the dropdown. Considering all these changes, update all pages code & send me file by file code



