@import url('common.css');

/* Page-specific Styles */
.container {
    padding-bottom: 80px; /* Extra padding to prevent overlap with the bottom menu */
}

.backup-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.backup-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.launch-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}