@import url('common.css');

/* Page-specific Styles */
.container {
    padding-bottom: 80px; /* Extra padding to prevent overlap with the bottom menu */
}

/* Cards for sections */
.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;  /* More rounded for modern look */
    padding: 15px 15px 10px 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Section Headers */
h2 {
    color: #127780;
    font-size: 1.5em;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

/* Profile, Backup, and Advanced Settings Sections */
.profile-item, .backup-item, .launch-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* Labels */
label {
    font-weight: bold;
    color: #333;
    font-size: 1.1em;
}

/* Button styles */
.btn-primary {
    background-color: #127780;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0f5f5c;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #000;
}

.save-btn, .cancel-btn {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
}

.save-btn {
    background-color: #28a745;
    color: white;
}

.cancel-btn {
    background-color: #6c757d;
    color: white;
}